/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Αυγ 2015, 2:40:51 μμ
    Author     : Default
*/
#definedVars li:hover , #arithOps li:hover , #rightClickMenu li:hover,
#compOps li:hover, #addVarsEdit li:hover, #logicOps li:hover, #menu li:hover, #arrayNames li:hover{
    background-color:#E8E8E8;	
}

#arithOps li{
    padding-left: 0.5em;
}
#logicOps li, #menu li{
    padding-left: 0.65em;
}
#compOps li{
    padding-left: 0.3em;
}

#definedVars, #addVarsEdit,#rightClickMenu, #arrayNames{
    background: #FFFFFF; 
    border-style: solid;
    position:absolute;
}
#arithOps, #compOps{
    background: #FFFFFF; 
    border-style: solid;
    position:absolute;
    color:#C00000;
    width:30px;
    font-family: "Arial";
}

#logicOps{
    background: #FFFFFF; 
    border-style: solid;
    position:absolute;
    color:#000000;
    width:50px;
    font-family: "Arial";
}

#dropdown{
    background: #00CC00; 
    border-style: none;
    position:absolute;
}

ul{

    border: none;
    border-radius: 0px;
}
#menu {
    background: white; 
    border-style: solid;
    width: 140px;
    position:absolute;
}

#menuBar {
    background: white; 
    border-style: none;
    font-family: "Arial";
    border-style: none;
    border-radius: 10px;
}
