/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Δεκ 2015, 3:59:40 μμ
    Author     : Default
*/

    #sideBar{
    }

                  
    #subCategories{                              
    }

    #sidebar.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {         
         background-color: #b5b5b5;            

    }
    
    #subCategories.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
        background-color: #b5b5b5;            

    }
    
    #sideBar li {
        border-radius: 11px 11px 11px 11px;
        -moz-border-radius: 11px 11px 11px 11px;
        -webkit-border-radius: 11px 11px 11px 11px;
        clear: left;
        margin: 0.2em 0;
        overflow: hidden;
        position: relative;
        width: 45px;
        right: 39px;
        display: inline;
    }
    
    #sideBar li a {
        padding: 0.1em 0.7em;
        text-decoration: none;             
        margin-left: 2px;
        color : #404040 ;
    }

    #sideBar li:hover {
        cursor: pointer;
        border-radius: 11px 11px 11px 11px;
        -moz-border-radius: 11px 11px 11px 11px;
        -webkit-border-radius: 11px 11px 11px 11px;
        background-color: #f5f5f5;            
    }
            
    img{
        padding: 10px;
        display:block;
    } 

    #categories{
        border-radius: 11px 11px 0px 0px;
        -moz-border-radius: 11px 11px 0px 0px;
        -webkit-border-radius: 11px 11px 0px 0px;
        border: 0px solid #000000;

                width: 170px;
                background: #F0F0F0;
                position: relative;
                //left:20px;
                top:0px;
                padding-bottom: 0.4em;
                padding-top: 0.4em;
                padding-bottom: 0.5em;

            }

            #subCategories1{
                border-radius: 11px 11px 0px 0px;
                -moz-border-radius: 11px 11px 0px 0px;
                -webkit-border-radius: 11px 11px 0px 0px;
                border: 0px solid #000000;

                padding-bottom: 0.4em;
                padding-top: 0.4em;
                width: 220px;
                background: #F0F0F0;
                position: relative;
                //left:50px;
                top : -16px;

            }

            #condition, #statement{

                background: #E8E8E8;
                //border: 1px solid #C0C0C0 ; 
                overflow: auto;
                width: 220px; 
                height: 430px; 
                margin-top: -28px; 
                position: relative;
                //left:50px;
                //top : -26px;
            }
