/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Ιουλ 2015, 6:52:27 μμ
    Author     : Default
*/
#canvas{
    border: 1px solid #aaa; 
    position: absolute;

}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    display: block;  /* No floating content on sides */
    overflow-y: auto;
}

#viewport {
    left: 0;
    position: relative;
    top: 0;
    width: 850px; 
    overflow: auto;
}

.divElements {
    float: left;

} 