/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Αυγ 2015, 8:55:11 πμ
    Author     : Default
*/

.dialogCannotAddVar_style .ui-dialog-titlebar-close,.dialogAddTextValue_style .ui-dialog-titlebar-close,
.addNewVarDialog_style .ui-dialog-titlebar-close, .dialogAddBooleanValue_style .ui-dialog-titlebar-close, 
.dialogAddNumberValue_style .ui-dialog-titlebar-close, .programNameDialog_style .ui-dialog-titlebar-close,
.dialogEditNumberValue_style
{display: none }


#ok,#buttonAddBooleanValue, #buttonAddValue,
#buttonAddNumberValue, #submit ,#buttonEditNumberValue, #buttonEditTextValue {
    width:20%;
    border:1px solid #000000;
    background: #F8F8F8;
    padding: 3px 0;
    border-radius:  5px;
    margin-left:24%;
    cursor:pointer;
    border-color: #E0E0E0;
    font-size: 90%;

}
#ok:disabled, #buttonAddBooleanValue:disabled, 
#buttonAddValue:disabled, #buttonAddNumberValue:disabled, #submit:disabled, 
#buttonEditNumberValue:disabled, #buttonEditTextValue:disabled {   
    background: #F0F0F0 ;
}

#nameError ,#invalidNumberValueButton{
    width:20%;
    border:1px solid #000000;
    background:  #F8F8F8 ;
    padding: 3px 0;
    border-radius:  5px;
    margin-left:39%;
    cursor:pointer;
    border-color: #E0E0E0;
    font-size: 90%;

}

input[type=text] {
    margin-top: 0px;
    margin-bottom: 20px;
    width:96%;
    border-radius:0px;
    border:0;
    padding:5px 0;

}

.ui-dialog .ui-dialog-content {
    padding:2em
}

#cancel:hover , #submit:hover:not(:disabled), #ok:hover:not(:disabled) , #Cancel:hover, #nameError:hover, 
#buttonNotAddValue:hover, #buttonAddValue:hover:not(:disabled),
#buttonNotAddBooleanValue:hover, #buttonAddBooleanValue:hover, #buttonNotAddNumberValue:hover,
#buttonAddNumberValue:hover:not(:disabled), #buttonEditTextValue:hover:not(:disabled), 
#invalidNumberValueButton:hover, #buttonEditNumberValue:hover:not(:disabled),
#buttonNotEditNumberValue:hover, #buttonNotEditTextValue:hover{
    background-color: #0099FF;
    color: #FFFFFF ;
    border-color: #0099FF;
}

#Cancel, #buttonNotAddValue , #buttonNotAddBooleanValue, #buttonNotEditTextValue,
#buttonNotAddNumberValue, #cancel, #buttonNotEditNumberValue{
    width:30%;
    border:1px solid #000000;
    background:  #F8F8F8 ;
    padding: 3px 0;
    border-radius:  5px;
    cursor:pointer;
    border-color: #E0E0E0;
    font-size: 90%;
    margin-left: 0.4em;
}

#varName, #newValue, #numberValue,
#name, #previousTextValue, #previousNumberValue{
    background: #FFFFFF ;
    border-radius:0px;
    height: 25px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
}

#errorMessage, #invalidNumberMessage
{
    margin-left:9%;
}

.dialogCannotAddVar_style .ui-dialog-title{
    text-align:center;
    padding-left: 2.9em;
}
.dialogEditNumberValue_style .ui-dialog-title{
    text-align:center;
    padding-left: 3.2em;
}
.addNewVarDialog_style .ui-dialog-title{
    text-align:center;
    padding-left: 4em;
}

.dialogAddTextValue_style .ui-dialog-title,.programNameDialog_style .ui-dialog-title{
    text-align:center;
    padding-left: 3.9em;
}

.dialogAddBooleanValue_style .ui-dialog-title,.dialogAddNumberValue_style .ui-dialog-title{
    text-align:center;
    padding-left: 3.1em;
}