/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 0px) {
	
	#container{
		height:100%;
		background-image: url("backgroundImage.png");
	}

	#menuBarContainer { 
		border: thin dashed #006600; 
		height:9%;
		background-image: url("backgroundImage.png");

	}
		
		.dropdown-menu{
			z-index: 0;
		}

		#image{
			z-index: 1001;		
		}

	#wrapper{
		height:80%;
	}

		#canvasContainer{
    		overflow: auto;
		}
			#canvas{
			}

			.deleteIcon{
				z-index: 1001;		
			}

			#recycleBin{
				transform: scale(4,4);
  				position: fixed;
				z-index: 1001;		
			}

	#footerContainer{
		padding-top: 1%;
		height:5%;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}
