 .LValueDiv{
    border: solid 1px darkgray;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #888888; 
    padding: 10px;
}

.LValueLabel{
    font-size: larger;
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    color: #275F61;
    font-family: -webkit-pictograph;
}

.LValueInput{
    float: right;
    margin-right: 20px;
    width: 160px;
}

.easy-autocomplete-container li{
    margin-left: 0px;
}
